.emoji-container-btn {
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px #ffffff33 solid;
  background-color: #9796f0;
  cursor: pointer;
  outline: none;
}
