.below-container {
  background: linear-gradient(to bottom, #6a59ff, #9796f0);
  display: flex;
  justify-content: center;
  padding-top: 40px;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}

.emojis-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;
  list-style-type: none;
}
